# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# Django
db.sqlite3

# User uploaded media
media/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Personal notes
portfolio/IDK

data.json