:root {

    /* Layout */

    --navbar-height: 60px;

    --hero-overlay-opacity: .25;

    --portfolio-overlay-opacity: .8;

    /* Palette */

    --color-accent-red: #E63946;
    --color-base: #F1FAEE;
    --color-accent-light: #A8DADC;
    --color-accent: #457B9D;
    --color-accent-dark: #1D3557;

}