:root {

    /* Layout */

    --navbar-height: 60px;

    --hero-overlay-opacity: .25;

    --portfolio-overlay-opacity: .8;

    --mobile-preview-width: 390px;

    /* Palette */

    --color-accent-red: #E63946;
    --color-base: #F1FAEE;
    --color-accent-light: #A8DADC;
    --color-accent: #457B9D;
    --color-accent-dark: #1D3557;


    /* Particles */

    --particles-count: 100;
    --particles-speed: 0.35;
    --particles-direction-x: 3.00;
    --particles-direction-y: 0.35;

    --particles-size-min: 1px;
    --particles-size-max: 3px;

    --particles-opacity-min: 0.15;
    --particles-opacity-max: 0.55;

    --particles-color: 168, 218, 220;

}

